{
    "tabWidth": 4,
    "printWidth": 140,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore"

}